<%- include('../partials/header') %>

  <h1><%= title %></h1>
  <p>My Mains</p>
  <% mains.forEach(main => { %>
    <a class="uk-link-text" href="/mains/<%= main.id %>">
      <%= main.name %>
    </a>
    <form action="/mains/<%= main.id %>?_method=DELETE" method="POST">
      <button class="uk-button uk-button-small uk-button-danger" type="submit">X</button>
    </form>
  <% }) %>

<%- include('../partials/footer') %>