<%- include('../partials/header') %>

  <h1><%= main.name %></h1>
  <img src="<%= main.image_url %>" width="250px" alt="<%= main.name %>">
  <h2>Combos</h2>
  <ul class="uk-subnav uk-subnav-pill" uk-switcher>
      <li><a href="#">View</a></li>
      <li><a href="#">Add</a></li>
      <li><a href="#">My Fighters</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      <ul class="uk-list uk-list-divider">
        <% if(combos) { %>
          <% combos.forEach(c => { %>
            <li><%= c %></li>
          <% }) %>
        <% } else if(combos === undefined) { %>
          <li>no hands to give here</li>
        <% } %>
      </ul>
    </li>
    <li>
      <form action="/mains/<%= main.id %>/combos" method="POST">
        <label class="uk-label">How?</label>
        <input class="uk-input uk-form-small" type="text" name="combo">
        <button class="uk-button uk-button-default">hands</button>
      </form>
    </li>
    <li><a href="/mains">Fighters here</a></li>
  </ul>

<%- include('../partials/footer') %>