<%- include('../partials/header') %>

<h1 class="uk-text-center uk-text-uppercase">fighters!</h1>

<div class="uk-child-width-1-6@s uk-grid-collapse uk-text-center" uk-grid>
    <% fighters.forEach(fighter => { %>
    <div>
        <div class="uk-tile uk-tile-default">
            <a class="uk-link-text" href="/fighters/<%= fighter.id %>">
              <img src="<%= fighter.image_url %>" width="100px" alt="" uk-img>
            </a>
            <a class="uk-link-text" href="/fighters/<%= fighter.id %>">
              <%= fighter.name %>
            </a>
        </div>
    </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>